html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

h1, p {
    color: #333;
}

form p{
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 10px 20px 10px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form_questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

@media (min-width: 768px) {
    .form_questions {
        flex-direction: row;
        justify-content: space-between;
    }
}

form label {
    font-weight: bold;
    color: #8761fc;
}

form input, form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

form input:focus, form select:focus {
    border-color: #5ddee6;
    outline: none;
}

form button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #8761fc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #5ddee6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
    display: block;
    flex-grow: 1;
    max-height: 60vh;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #8761fc;
    color: white;
    
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.nested-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: #f9f9f9;
}

.nested-table th, .nested-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.nested-table td {
    width: 100%;
}

.nested-table th {
    background: #e0e0e0;
    text-align: left;
}

.delete-option, .add-option{
    background: none;
    border-color: transparent;
    cursor: pointer;
}

.input-option{
    border-radius: 8px;
    width: 100%; 
    padding:10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 16px;
}

.input-option:focus{
    border-color: #5ddee6;
    outline: none;
}

