.sidebar {
    width: 80px; 
    background: linear-gradient(to bottom, #8d53ff, #5ddee6);
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease; 
    z-index: 1;
    overflow: hidden;
}

.sidebar.expanded {
    width: 20vw;
}

#menu {
    list-style-type: none;
    justify-items: center;
    padding: 0;
    padding: 10px;
}

.sidebar.expanded #menu {
    display: block;
    justify-items: stretch;
}

.menu-icon {
    display: flex;
    align-items: center;
    padding: 25px;
    cursor: pointer;
    margin-bottom: 20px;
}

.menu-icon i {
    font-size: 24px;
    min-width: 24px;
    text-align: center;
    color: #fff;
}

.menu-icon:hover i {
    color: #bbccec; 
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 10px;
}



.sidebar ul li a {
    color: white;
    text-decoration: none; 
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar.sidebar.expanded ul li a {
    gap: 10px;
}

.sidebar ul li.selected {
    font-weight: bold;
    background-color: rgba(141, 83, 255, 0.2);
    border: 2px solid #ffffff;
    padding: 5px; 
    margin: 10px;
    border-radius: 5px;
}

.sidebar:not(.expanded) #btn-surprise-me.selected{
    background-color: transparent;
    border: none;

}

.icon-container {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}


.sidebar ul li:hover {
    padding: 5px; 
    border-radius: 5px; 
}
.sidebar ul li:hover a {
    font-weight: bold;
}

.sidebar .lulu_icon {
    margin-top: auto;
    text-align: center;
}

.starters-image {
    max-width: 40%;
    height: auto;
    padding-bottom: 15px;
}


/* Esconder o texto quando o sidebar está recolhido */
.sidebar:not(.expanded) ul li a span {
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease, width 0.3s ease;
}

/* Manter ícones visíveis */
.sidebar ul li a i {
    font-size: 18px;
    min-width: 24px;
    text-align: center;
}

/* Quando expandido, mostrar os textos */
.sidebar.expanded ul li a span {
    opacity: 1;
    visibility: visible;
    width: auto;
}


/* Esconder o texto do menu-icon quando a sidebar estiver recolhida */
.sidebar:not(.expanded) .menu-icon span {
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease, width 0.3s ease;
}

/* Manter visível quando expandido */
.sidebar.expanded .menu-icon span {
    opacity: 1;
    visibility: visible;
    width: auto;
}

.sidebar ul li a img {
    width: 28px; 
    height: 28px;
    min-width: 24px;
}

.sidebar.expanded #btn-surprise-me{
    margin: 25px 0;
    border: 2px dashed #ffffff;
    border-radius: 20px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: 60px; 
        flex-direction: row; 
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        transition: height 0.3s ease;
    }

    .sidebar.expanded {
        height: 100%;
        width: 100%;
    }

    .menu-icon {
        padding: 15px 15px 0 15px;
        justify-content: center; 
        align-items: center;     
    }

    .sidebar ul {
        display: none; 
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .sidebar.expanded ul {
        display: flex; 
    }

    .sidebar ul li {
        padding: 10px;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
    }

    .sidebar ul li:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .lulu_icon{
        display: none;
    }

    .user_details{
        display: none !important;
    }

}