{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Users</title>
    <link rel="stylesheet" href="{% static 'css/home_styles.css' %}">

</head>
<body>
    <div class="container">
        
        {% include 'sidebar.html' %}

        <main class="content">

            {% include 'header.html' %}
            
            <h1>Registered Users</h1>
            <button id="openModal" class="new-user-button">New Users</button>

            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Staff</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.is_staff|default:"N/A" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Modal para o Formulário -->
            <div id="userModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>New User</h2>
                    <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Save</button>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <script>
        var modal = document.getElementById("userModal");
        var btn = document.getElementById("openModal");
        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
