{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'frontend/img/logo_happy_kids.png' %}">
        <title>Happy Kids | My Memories</title>

        <link rel="stylesheet" href="{% static 'frontend/css/lulu_styles.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    </head>
    <body>
        <div class="container">
            {% include 'sidebar.html' %}

            <main class="content">
                {% include 'header.html' %}
            
                <div class="class-container">
                    <div class="class-page-title">
                        
                        <img src="{% static 'frontend/img/menu-icons/icon_memos_black.png' %}" alt="Favorited Memos Icon">
                        <h1> My Memos </h1> 
                        <a>to remember </a>
                    
                    </div>

                    <div class="class-tag-buttons">
                        <span class="tag-suggestion">Tag</span>
                        <span class="tag-suggestion">Tag</span>
                        <span class="tag-suggestion">Tag</span>
                    </div>

                    <div class="class-page-content">
                        {% for memos in memos %}
                            <div class="memos-message">
                                    <h3>{{ memos.datetime }}</h3>
                                    {{ memos.message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
            </main>
        </div>

    </body> 
</html>
