{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'frontend/css/header_styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
</head>
<div class="header">
    <div class="class-page-title">
                        
        {% if '/app/adm/' in request.path %}<h1>Painel Administrativo</h1>
        {% elif '/app/dashboard' in request.path %}<h1>Dashboard</h1>
        {% elif '/app/memos' in request.path %}<h1>My Memos</h1>
        {% elif '/app/memory' in request.path %}<h1>Chat Memory</h1>
        {% elif '/app/diary' in request.path %}<h1>My Diary</h1>
        {% elif '/app/profile' in request.path %}<h1>My Profile</h1>
        {% endif %}
    
    </div>

    <div class="user_details">
        <h1>Hi, {{ user.first_name }}</h1>
        <div class="user-icon">
            <a href="{% url 'profile' %}">
                <img src="{% static 'frontend/img/logo_happy_kids_2.png' %}">
            </a>
        </div>
        
    </div>
</div>
