{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'frontend/img/logo_happy_kids.png' %}">
    <title>Happy Kids | Home Page</title>
    <link rel="stylesheet" href="{% static 'frontend/css/home_styles.css' %}">
</head>
<body>
    <div class="container">
        {% include 'sidebar.html' %}
        <main class="content">
            {% include 'header.html' %}

            <!-- Conteúdo principal da Home -->
            <div class="div_models">
                <h1>Moien, {{ user.first_name }}</h1>
                <h4>Choose your assistant today</h4>
                <div class="div_carrosel_models">
                    <div class="carousel-container">
                        <div class="carousel-item">
                            <a href="{% url 'start_new_session' %}">
                                <img src="{% static 'frontend/img/lulu_bot.png' %}" class="carousel-img" alt="Lulu">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <p>We are an experimental start-up. Thank you for testing</p>
            </div>
        </main>
    </div>
    <script>
        const isAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};
    </script>

</body>
</html>
