{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="{% static 'frontend/img/Hilow.png' %}">
      <title>Happy Kids | Profile</title>

      <link rel="stylesheet" href="{% static 'frontend/css/profile.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      
      {% include 'sidebar.html' %}

      <main class="content">

        {% include 'header.html' %}


            <form method="POST" action="{% url 'profile' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save</button>
            </form>
    
      </main>
    </div>
    
    <script src="{% static 'frontend/js/scripts.js' %}"></script>
  </body>
</html>
